/* Created with www.booktype.pro */
/* Theme 'Historical Fiction (Comfortable)' Version 0.1 update: 2016-11-14T15:56:17+01:00 */
.historicalfictioncomfortable {
  font-size: 13pt;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-family: "im_fell_dw_pica_pro";
  color: #000000;
  /* Created with www.booktype.pro */
  /* Theme 'Historical Fiction (Comfortable)' Version 0.1 update: 2016-11-14T15:56:17+01:00 */
  @font-face {
    font-family: 'im_fell_dw_pica_pro';
    src: url('fonts/IM_FELL_DW_Pica_PRO_Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'im_fell_dw_pica_pro';
    src: url('fonts/IM_FELL_DW_Pica_PRO_Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'texgyrecursor';
    src: url('fonts/TeXGyreCursor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'texgyrecursor';
    src: url('fonts/TeXGyreCursor-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'texgyrecursor';
    src: url('fonts/TeXGyreCursor-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'texgyrecursor';
    src: url('fonts/TeXGyreCursor-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  /* QUOTE **************************************************/
  blockquote,
  p.quote {
    font-family: "im_fell_dw_pica_pro";
    font-weight: normal;
    font-size: 1em;
    font-style: italic;
    quotes: "\201C" "\201D" "\2018" "\2019";
    position: relative;
    text-align: left;
    text-indent: 0;
    line-height: inherit;
    border-left: none solid #fff;
    padding-left: 0;
    padding-top: 0;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: none;
    text-decoration: none;
  }
  /* undo the quotes from booki-new.css */
  p.quote:before {
    display: none;
  }
  /* Headlines ************************************************/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    -webkit-hyphens: none;
    hyphens: none;
    adobe-hyphenate: none;
    page-break-after: avoid;
    color: black;
  }

  .title-block h1 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1.33em;
    text-align: center;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: none;
    padding-top: 39.6pt;
    margin-bottom: 39.6pt;
    line-height: inherit;
    line-height: 13.2pt;
  }

  h1 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: underline;
    padding-top: 4.36pt;
    margin-bottom: 8.84pt;
    line-height: inherit;
    line-height: 13.2pt;
  }

  h2 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: none;
    padding-top: 4.36pt;
    margin-bottom: 8.84pt;
    line-height: inherit;
    line-height: 13.2pt;
  }

  h3 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: none;
    padding-top: 0;
    margin-bottom: 13.2pt;
    line-height: inherit;
    line-height: 13.2pt;
  }

  h4 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: none;
    padding-top: 0;
    margin-bottom: 13.2pt;
    line-height: inherit;
    line-height: 13.2pt;
  }

  h5 {
    font-family: "im_fell_dw_pica_pro";
    font-size: 1em;
    text-align: left;
    font-weight: normal;
    text-transform: none;
    border-bottom: none solid black;
    text-decoration: none;
    padding-top: 0;
    margin-bottom: 13.2pt;
    line-height: inherit;
    line-height: 13.2pt;
  }
  /* Paragraph Styles *****************************************************/
  ,
  p {
    widows: 2;
    orphans: 2;
  }

  p {
    font-family: "im_fell_dw_pica_pro";
    text-align: justify;
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
  }
  /* First paragraph *******************************************************/
  .title-block + p,
  h2 + p,
  h3 + p,
  h4 + p {
    font-family: "im_fell_dw_pica_pro";
    font-weight: normal;
    font-size: inherit;
    line-height: inherit;
    text-indent: 0;
    margin-bottom: 0.7em;
  }
  /* Not first paragraph **************************************************/
  div.aloha-table+p,
  div.group_img+p,
  ol+p,
  p+p,
  ul+p {
    margin-top: 0;
    text-indent: 0;
    margin-bottom: 0.7em;
  }
  /* Hanging paragraph: first line not indented, rest of paragraph indented */
  p.hanging {
    text-indent: -2em;
    padding-left: 2em;
  }
  /* Info Box ****************************************************/
  .bk-box {
    font-family: "im_fell_dw_pica_pro";
    font-size: 0.9em;
    color: #000000;
    background-color: #ffffff;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: 0.5pt solid #000000;
    border-top: 0.5pt solid #000000;
    border-right: 0.5pt solid #000000;
    border-bottom: 0.5pt solid #000000;
  }

  .bk-box p {
    padding: 0 1em;
    text-indent: 0;
    margin-bottom: 0;
  }

  .bk-box .box-caption {
    color: #000000;
    font-weight: normal;
    background-color: #ffffff;
    padding: 1em;
    border-bottom: 0.5pt solid #000000;
    margin-bottom: 1em;
  }
  /* if p tag inside caption, this is needed */
  .bk-box .box-caption p {
    padding: 0;
    font-weight: normal;
  }

  .bk-box .box-caption span.icon-trash {
    color: #000000;
  }
  /* Lists *****************************************************************/
  ol,
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: inherit;
    line-height: inherit;
  }

  li,
  ol,
  ul {
    font-family: "im_fell_dw_pica_pro";
  }
  /* Preformatted text *******************************/
  pre {
    font-family: "texgyrecursor";
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: inherit;
    line-height: inherit;
  }
  /* Table *****************************************/
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  table,
  td,
  th {
    border: 0.5mm solid black;
  }

  table td {
    font-family: "im_fell_dw_pica_pro";
    font-weight: normal;
    font-size: 0.8em;
    margin: 0;
  }

  td,
  th {
    padding: 0.6em 0.8em;
  }
  /* IMAGES ***********************************************/
  div.image,
  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .group_img {
    page-break-inside: avoid;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .center {
    text-align: center;
  }

  .caption_fig,
  .caption_figure,
  .caption_image,
  .caption_img,
  .caption_small,
  .caption_table,
  caption {
    margin-top: 0.5em;
    font-size: 0.9em;
    font-style: italic;
  }
  /* Endnotes ******************************************/
  .endnotes-container {
    font-size: 0.9em;
    margin-top: 2em;
  }

  .endnotes-container .endnote-counter,
  .endnotes-container .endnoteText {
    font-family: "im_fell_dw_pica_pro";
    font-weight: normal;
    font-size: inherit;
    line-height: normal;
  }

  .endnotes-container .endnoteText p {
    text-indent: 0;
  }
}
