.contentContainer {
  background-color: #ebebeb;
}

#contenteditor {
  width: 50rem;
  margin: 0 auto;
}

.ltr {
  direction: ltr;
  text-align: left
}

.rtl {
  direction: rtl;
  text-align: right
}
/**************/
/* PAGE BREAK */
/**************/
.DraftEditor-editorContainer .PageBreakEditor svg {
  width: 2.5rem;
  height: 2.5rem;
}

.DraftEditor-editorContainer .PageBreakEditor:before {
  content: " ";
  position: relative;
  left: 0;
  background: #9d9d9d;
  height: 1px;
  width: 40%;
}

.DraftEditor-editorContainer .PageBreakEditor:after {
  content: " ";
  position: relative;
  right: 0;
  background: #9d9d9d;
  height: 1px;
  width: 40%;
}

/*********/
/* TABLE */
/*********/
.DraftEditor-editorContainer .group_table {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.DraftEditor-editorContainer table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.DraftEditor-editorContainer table td {
  border: 0.5px solid gray;
}


